# Chapter 1

## Variables

In [19]:
print("Hi Welocome to Nasirs Class")

Hi Welocome to Nasirs Class

In [20]:
a=10

In [21]:
print(a)

10

In [22]:
$a=10

SyntaxError: invalid syntax (2927304159.py, line 1)

In [23]:
_a=20

In [24]:
_a

20

In [25]:
2a=50

SyntaxError: invalid decimal literal (114689849.py, line 1)

In [26]:
a2=50

In [27]:
a2

50

In [28]:
_2a=50

In [29]:
_2a

50

In [30]:
a=10

In [31]:
print(a)

10

In [32]:
print(A)

NameError: name 'A' is not defined

In [35]:
a=200
b=3000
a
b

3000

In [36]:
price=10

In [38]:
print(f'{price} $' )

10 $

In [40]:
# Addition 
a=10
b=20
sum=a+b

In [42]:
#  print()

In [43]:
a=10

In [44]:
type(a)

int

In [95]:
# print("A")

In [45]:
b=1.5

In [46]:
type(b)

float

In [48]:
type(a<b)

bool

In [50]:
print('Nasir's class is boooooring')

SyntaxError: unterminated string literal (detected at line 1) (177650809.py, line 1)

In [49]:
print('Hello world')

Hello world

In [51]:
print("Nasir's class is boooooring")

Nasir's class is boooooring

In [53]:
print('''"Nasir" class is Good''')

"Nasir" class is Good

In [73]:
First_name='Bindu'

In [74]:
Last_name="Dk"

In [60]:
First_name=First_name.upper()

In [61]:
First_name

'BINDU'

In [62]:
First_name.lower()

'bindu'

In [ ]:
Nasir is teaching bad nasir is bad very bad

In [63]:
First_name.count('n')

0

In [64]:
First_name

'BINDU'

In [65]:
First_name.count('N')

1

In [66]:
First_name,Last_name

('BINDU', 'Dk')

In [67]:
Full_Name=First_name,Last_name

In [68]:
Full_Name

('BINDU', 'Dk')

In [75]:
Full_Name=First_name + " " + Last_name

In [76]:
Full_Name

'Bindu Dk'

In [77]:
Full_Name[0]

'B'

In [78]:
Full_Name[4]

'u'

In [79]:
Full_Name[5]

' '

In [81]:
Full_Name[7]

'k'

In [82]:
Full_Name[-1]

'k'

In [83]:
Full_Name[-1]

'u'

In [85]:
Full_Name[5:]

' Dk'

In [87]:
Full_Name[:6]

'Bindu '

In [89]:
Full_Name[:8]

'Bindu Dk'

In [91]:
Full_Name[1:6]

'indu '

In [97]:
First_name

'Bindu'

In [98]:
First_name.upper()

'BINDU'

# Operators

In [1]:
a=10
b=20

In [3]:
a+b

30

In [4]:
a==10

True

In [5]:
a=a+b
a

30

In [8]:
a

20

In [9]:
b

20

In [10]:
a+=b

In [11]:
a

40

In [15]:
x=["a",'b',"c"]
y=["a","c"]

In [16]:
x is y

False

In [14]:
"z" in x

False

In [ ]:
def

In [ ]:
in or and

In [ ]:
and

In [18]:
a=10
b=20
sum=a+b
print(sum)

30

In [19]:
a=input("Enter the first num")
b=input("Enter the second num")

sum=a+b

print(sum)

Enter the first num10
Enter the second num50
1050

In [22]:
a=int(input("Enter the first num"))
b=int(input("Enter the second num"))

sum=a+b

print(sum)

Enter the first num10
Enter the second num50
60

In [23]:
a=input("Enter the first num")
b=input("Enter the second num")

sum=int(a)+int(b)

print(sum)

Enter the first num10
Enter the second num20
30

In [24]:
First_name="Divya"

In [25]:
Last_name="Prakash"

In [35]:
Full_name=First_name+ " "+Last_name

In [29]:
Full_name

'Divya Prakash'

In [30]:
print('Welcome'+" "+ Full_name+" "+"to Nasir class")

Welcome Divya Prakash to Nasir class

In [32]:
print('Welcome',Full_name,"to Nasir class")

Welcome Divya Prakash to Nasir class

In [38]:
print(f"Welcome {Full_name} to Nasir's Class")

Welcome Divya Prakash to Nasir's Class

In [39]:
age=12

In [40]:
print(f"Welcome {Full_name} to Nasir's Class you are {age} years old ")

Welcome Divya Prakash to Nasir's Class you are 12 years old

In [43]:
name = input(" Please enter your name: ")
age = int(input( " Please enter your age: "))
print(f"Hello {name} you will be {age +20} after 20 years")

 Please enter your name: Nasir
 Please enter your age: 20
Hello Nasir you will be 40 after 20 years

In [49]:
name=input("enter your name")
age=int(input("enter your age"))

print(f"hi {name} {age+20}")

enter your nameNASIR aLI
enter your age20
hiNASIR aLI 40

In [55]:
Name=input("Enter the name ")
age=int(input("Enter the age"))
print(f"Hi {Name} after 10 years you will be {age+10} years old"  )

Enter the name Nasir
Enter the age20
Hi Nasir after 10 years you will be 30 years old

In [57]:
name=input("please enter your name")
age=int(input("please enter your age "))
print(f"hi {name} after ten years you will be {age + 10} years")

please enter your nameNikitha
please enter your age 10
hi Nikitha  after ten years you will be 20 years

In [58]:
first_name=input("Enter your First Name- ")
last_name=input("Enter your Last Name- ")
age=int(input("Enter your age- "))
full_name=(first_name + " " + last_name)

print(f"Hello {full_name} welcome to nasir's class your are {age} years old and you'll be {age+20} in 20 years")

Enter your First Name- Nas
Enter your Last Name- ir
Enter your age- 20
Hello Nas ir welcome to nasir's class your are 20 years old and you'll be 40 in 20 years

In [59]:
name=input("Enter your name")
age=int(input("enter your age"))
age=age+10
print(f"Hi {name} after 10 yeras will be + {age} year old")

Enter your nameNas
enter your age10
Hi Nas after 10 yeras will be + 20 year old

In [64]:
Name=input("Enter the name")
age=input("Enter the age")
print(f"hi {Name} after 10 year you will be {int(age)+10} year")

Enter the namenasir
Enter the age10
hi nasir after 10 year you will be 20 year