# Chapter 1

## Variables

In [ ]:
print("Hi Welocome to Nasirs Class")

In [ ]:
a=10

In [ ]:
print(a)

In [ ]:
$a=10

In [ ]:
_a=20

In [ ]:
_a

In [ ]:
2a=50

In [ ]:
a2=50

In [ ]:
a2

In [ ]:
_2a=50

In [ ]:
_2a

In [ ]:
a=10

In [ ]:
print(a)

In [ ]:
print(A)

In [ ]:
a=200
b=3000
a
b

In [ ]:
price=10

In [ ]:
print(f'{price} $' )

In [ ]:
# Addition 
a=10
b=20
sum=a+b

In [ ]:
#  print()

In [ ]:
a=10

In [ ]:
type(a)

In [ ]:
# print("A")

In [ ]:
b=1.5

In [ ]:
type(b)

In [ ]:
type(a<b)

In [ ]:
print('Nasir's class is boooooring')

In [ ]:
print('Hello world')

In [ ]:
print("Nasir's class is boooooring")

In [ ]:
print('''"Nasir" class is Good''')

In [ ]:
First_name='Bindu'

In [ ]:
Last_name="Dk"

In [ ]:
First_name=First_name.upper()

In [ ]:
First_name

In [ ]:
First_name.lower()

In [ ]:
Nasir is teaching bad nasir is bad very bad

In [ ]:
First_name.count('n')

In [ ]:
First_name

In [ ]:
First_name.count('N')

In [ ]:
First_name,Last_name

In [ ]:
Full_Name=First_name,Last_name

In [ ]:
Full_Name

In [ ]:
Full_Name=First_name + " " + Last_name

In [ ]:
Full_Name

In [ ]:
Full_Name[0]

In [ ]:
Full_Name[4]

In [ ]:
Full_Name[5]

In [ ]:
Full_Name[7]

In [ ]:
Full_Name[-1]

In [ ]:
Full_Name[-1]

In [ ]:
Full_Name[5:]

In [ ]:
Full_Name[:6]

In [ ]:
Full_Name[:8]

In [ ]:
Full_Name[1:6]

In [ ]:
First_name

In [ ]:
First_name.upper()

# Operators

In [ ]:
a=10
b=20

In [ ]:
a+b

In [ ]:
a==10

In [ ]:
a=a+b
a

In [ ]:
a

In [ ]:
b

In [ ]:
a+=b

In [ ]:
a

In [ ]:
x=["a",'b',"c"]
y=["a","c"]

In [ ]:
x is y

In [ ]:
"z" in x

In [ ]:
def

In [ ]:
in or and

In [ ]:
and

In [ ]:
a=10
b=20
sum=a+b
print(sum)

In [ ]:
a=input("Enter the first num")
b=input("Enter the second num")

sum=a+b

print(sum)

In [ ]:
a=int(input("Enter the first num"))
b=int(input("Enter the second num"))

sum=a+b

print(sum)

In [ ]:
a=input("Enter the first num")
b=input("Enter the second num")

sum=int(a)+int(b)

print(sum)

In [ ]:
First_name="Divya"

In [ ]:
Last_name="Prakash"

In [ ]:
Full_name=First_name+ " "+Last_name

In [ ]:
Full_name

In [ ]:
print('Welcome'+" "+ Full_name+" "+"to Nasir class")

In [ ]:
print('Welcome',Full_name,"to Nasir class")

In [ ]:
print(f"Welcome {Full_name} to Nasir's Class")

In [ ]:
age=12

In [ ]:
print(f"Welcome {Full_name} to Nasir's Class you are {age} years old ")

In [ ]:
name = input(" Please enter your name: ")
age = int(input( " Please enter your age: "))
print(f"Hello {name} you will be {age +20} after 20 years")

In [ ]:
name=input("enter your name")
age=int(input("enter your age"))

print(f"hi {name} {age+20}")

In [ ]:
Name=input("Enter the name ")
age=int(input("Enter the age"))
print(f"Hi {Name} after 10 years you will be {age+10} years old"  )

In [ ]:
name=input("please enter your name")
age=int(input("please enter your age "))
print(f"hi {name} after ten years you will be {age + 10} years")

In [ ]:
first_name=input("Enter your First Name- ")
last_name=input("Enter your Last Name- ")
age=int(input("Enter your age- "))
full_name=(first_name + " " + last_name)

print(f"Hello {full_name} welcome to nasir's class your are {age} years old and you'll be {age+20} in 20 years")

In [ ]:
name=input("Enter your name")
age=int(input("enter your age"))
age=age+10
print(f"Hi {name} after 10 yeras will be + {age} year old")

In [ ]:
Name=input("Enter the name")
age=input("Enter the age")
print(f"hi {Name} after 10 year you will be {int(age)+10} year")

# Conditional Statements

# IF

In [ ]:
age=int(input("Enter the age : "))

p_age=10

if age<10:
    print("You Can Enter")

# IF ELSE

In [ ]:
age=int(input("Enter the age : "))

p_age=10

if age<p_age:
    print("You Can Enter")
    
else:
    print(f"you are {age} yers old so You cant enter Tata bye")

# If Elif else

In [ ]:
a=int(input("enter the first num: "))
b=int(input("enter the Second num: "))
if b>a:
    print("b is Greater than a ")
    
elif b<a:
    print("b is less then a")

else:
    print("b is equal to a ")

# While

In [ ]:
i=0
while i<6:
    print(i)
    i+=1

In [ ]:
a=[20,23,24,26,28,29]

In [ ]:
for i in a:
    print(i+2)
    print("hello")

In [ ]:
b=[1,2,3]

for i in b:
    print(i)
    print("hello")

# Break

In [4]:
i=0

while i<50:
    print(i)
    
    if i==12:
        break
        
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12

In [5]:
i=0

while i<6:
    i+=1
    
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [23]:
def add():
    pass

In [24]:
def add(x,y):
    sum=x+y
    return sum

In [25]:
print("hello")

hello

In [26]:
print("byee")

byee

In [27]:
add(5,3)

8

In [28]:
First = int(input("Enter the first number : "))
Second = int(input("Enter the second number : "))
add(First,Second)

Enter the first number : 20
Enter the second number : 30

50

In [31]:
x=int(input("enter the first number")) 
y=int(input("enter the second  number"))    
add(x,y)

enter the first number20
enter the second  number30

50

In [32]:
def add(x,y):
   
    sum=input(x,y)
    return sum
sum(a,b)

a=input(int(x))
b=input(int(y))

NameError: name 'a' is not defined