### Chapter 1: Getting and Knowing your Data

In [35]:
import pandas as pd

In [36]:
order_details = pd.read_csv(filepath_or_buffer= "data.tsv.txt", sep="\t")
order_details

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
pd.read_table(filepath_or_buffer="insurance.csv", sep=",")

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### 1.1 Perform Initial Analysis

In [ ]:
# Function - ()
# Attribute

In [5]:
order_details.shape

(4622, 5)

#### Terminology Alert
* Row - Observation/Record
* Column - Features/Parameters

In [37]:
order_details.isnull() # Displays the table form and shows each record is null or not

      order_id  quantity  item_name  choice_description  item_price
0        False     False      False                True       False
1        False     False      False               False       False
2        False     False      False               False       False
3        False     False      False                True       False
4        False     False      False               False       False
...        ...       ...        ...                 ...         ...
4617     False     False      False               False       False
4618     False     False      False               False       False
4619     False     False      False               False       False
4620     False     False      False               False       False
4621     False     False      False               False       False

[4622 rows x 5 columns]

In [38]:
order_details.isnull().sum() # Chain of Functions, Chain of Commands
# Summerise overall null details

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [48]:
order_details.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [49]:
order_details.describe( )

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [1]:
order_details.describe(include='all')

NameError: name 'order_details' is not defined

### 1.2 Find out the Items soldin the restaurant?

In [7]:
order_details.nunique() #Displays the each unique items count

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

In [18]:
order_details["item_name"].nunique() # displays the individual data count

50

In [20]:
order_details["item_name"].unique() # displays the list of unique items

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

### 1.3 Give me the list of Top 5 selling Items

In [24]:
order_details.groupby(by = "item_name")["quantity"].sum().sort_values() #Displays all the items sold in howmuch quantity in assending order

item_name
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Crispy Tacos                               2
Salad                                      2
Steak Salad                                4
Bowl                                       4
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Veggie Soft Tacos                          8
Carnitas Crispy Tacos                      8
Chicken Salad                              9
Barbacoa Salad Bowl                       10
Barbacoa Crispy Tacos                     12
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Izze                                      20
Chips and Roasted Chili Corn Salsa        23
Barbacoa Soft Tacos                       25
Chips and Tomatillo-Red Chili Salsa       25
Nantucket Nectar                          29
Steak Salad Bowl                          31
Chips and Tomatillo-Green Chili Salsa     33
Steak Crispy Tacos                        36
Carnitas Soft Tacos                       40
Chips and Tomatillo Green Chili Salsa     45
Chicken Crispy Tacos                      50
Chips and Tomatillo Red Chili Salsa       50
6 Pack Soft Drink                         55
Steak Soft Tacos                          56
Carnitas Burrito                          60
Barbacoa Bowl                             66
Carnitas Bowl                             71
Veggie Bowl                               87
Barbacoa Burrito                          91
Veggie Burrito                            97
Side of Chips                            110
Chicken Soft Tacos                       120
Chicken Salad Bowl                       123
Canned Soda                              126
Chips and Fresh Tomato Salsa             130
Bottled Water                            211
Steak Bowl                               221
Chips                                    230
Canned Soft Drink                        351
Steak Burrito                            386
Chips and Guacamole                      506
Chicken Burrito                          591
Chicken Bowl                             761
Name: quantity, dtype: int64

In [ ]:
order_details.groupby(by = "item_name")["quantity"].sum().sort_values(ascending=False) #Displays all the items sold in howmuch quantity in decending order

In [29]:
#display top 5 items maximum sold
order_details.groupby(by = "item_name")["quantity"].sum().sort_values(ascending=False).head(5)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

### 1.4 Give me the list of least 5 selling Items

In [33]:
#display least 5 items maximum sold
order_details.groupby(by = "item_name")["quantity"].sum().sort_values().head(5)
#or
order_details.groupby(by = "item_name")["quantity"].sum().sort_values(ascending=False).tail(5)

item_name
Salad                                2
Crispy Tacos                         2
Carnitas Salad                       1
Chips and Mild Fresh Tomato Salsa    1
Veggie Crispy Tacos                  1
Name: quantity, dtype: int64

## Chapter 2 - Data Cleaning

In [7]:
order_details.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [8]:
order_details["item_price"]

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [21]:
order_details["item_price"].str.replace("$","").float()

AttributeError: 'Series' object has no attribute 'float'

In [38]:
order_details["item_price"].str.replace("$","").astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [27]:
order_details #Float conversion not happened

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [39]:
order_details["item_price"] = order_details["item_price"].str.replace("$","").astype(float)

In [42]:
order_details.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [45]:
order_details.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

## Task

* Find out the top 5 selling items individual revenue it made
* Total revenue of the top 5 items sold
* Find atleast 2 more questions on the same dataset

## Task 1 : Find Out the top 5 selling items  individual revenue

In [103]:
#order_details.groupby("item_name")["item_price"].sum().sort_values(ascending=False)
#order_details.groupby("item_name").first()
#My Solution
order_details.groupby("item_name").agg(
    quantity = ("quantity", "sum"),
    revenue = ("item_price", "sum")
).sort_values('quantity', ascending=False).head(5)

                     quantity  revenue
item_name
Chicken Bowl              761  7342.73
Chicken Burrito           591  5575.82
Chips and Guacamole       506  2201.04
Steak Burrito             386  3851.43
Canned Soft Drink         351   438.75

In [98]:
#Copilot suggested
top5 = (order_details.groupby('item_name', as_index=False).agg(
          total_quantity=('quantity', 'sum'),
          total_revenue=('item_price', 'sum')  # item_price is line total per row
           ).sort_values('total_quantity', ascending=False).head(5))

top5['total_revenue'] = top5['total_revenue'].map(lambda x: f"${x:,.2f}")
top5

              item_name  total_quantity total_revenue
17         Chicken Bowl             761     $7,342.73
18      Chicken Burrito             591     $5,575.82
25  Chips and Guacamole             506     $2,201.04
39        Steak Burrito             386     $3,851.43
10    Canned Soft Drink             351       $438.75

## Task 2 : Find Out the top 5 selling items  total revenue

In [122]:
top5 = order_details.groupby("item_name", as_index=False).agg(
    quantity = ("quantity", "sum"),
    revenue = ("item_price", "sum")
).sort_values('quantity', ascending=False).head(5)
top5.agg(
    total_revenue = ("revenue","sum")
)

                revenue
total_revenue  19409.77

## Task 3 : Make Question?
How many orders in the given dataset is having minimum order value of 25$?

In [142]:
order_details[order_details["item_price"] > 25].sort_values("item_price", ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",26.25
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],26.25
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",26.25
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07

## Task 4 : Make Question?
How many orders in the given dataset is having minimum order value of 10$ to 25$?

In [154]:
order_details[order_details["item_price"].isin([10,25])] #this will not work. it expects the paritcular entry
#we can use filter query
order_details.query("item_price > 10 and item_price < 25").sort_values("item_price")

,order_id,quantity,item_name,choice_description,item_price
3599,1443,7,Bottled Water,NaN,10.50
2919,1160,1,Chicken Bowl,"[Fresh Tomato (Mild), [Guacamole, Rice]]",10.58
3520,1415,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Rice, Sour C...",10.58
1160,479,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Rice, Fajita...",10.58
1099,453,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",10.58
...,...,...,...,...,...
3754,1502,2,Steak Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.50
1753,708,2,Steak Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",23.50
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",23.50
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78