### Write a program to take a name and age as input from user and print a greeting message

In [3]:
name = input("Enter Your name")
age = input("Enter Your age")
print(f'Hello {name}, your age is {age}')

Enter Your name Ragav
Enter Your age 32

Hello Ragav, your age is 32

### Create a list of numbers and print only even numbers using a forloop

In [7]:
numbers = range(0,20)
even_number = []
for i in numbers:
    if i%2 == 0:
        even_number.append(i)
even_number

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Write a program that handles division by zero using try-except?

In [17]:
try:
    num = int(input("Enter Numerator"))
    den = int(input("Enter denominator"))
    result = num/den
    print(result)
except ZeroDivisionError:
    print("Denominator should not be zero")
except ValueError:
    print("Values always should be numbers")
finally:
    print("Program Endded")

Enter Numerator sd

Values always should be numbers
Program Endded

### Given a String, count how many vowels it has

In [68]:
statement = "This is the test statement"
count = 0
for i in statement:
    if i in "aeiou":
        #count = count + 1
        count += 1
print("Total Vowels are", count)

Total Vowels are 7

### Reverse a list without using built-in functions.

In [115]:
list_item = ["Raghav", 2,4,1]
list_range = len(list_item)-1
updated_list = []
while list_range >= 0:
 #print(list_item[list_range])
 #list_range = list_range - 1 
 updated_list.append(list_item[list_range])   
 list_range -=1

updated_list

[1, 4, 2, 'Raghav']

### Create a Dictionary with 5 key value pairs

In [118]:
dic_data = {"Name" :"Raghavendar",
            "Age" : 32,
            "Company" : "Bosch",
            "Location" : "Banglore",
            "Base-Location" : "Electronic-city"}
dic_data

{'Name': 'Raghavendar',
 'Age': 32,
 'Company': 'Bosch',
 'Location': 'Banglore',
 'Base-Location': 'Electronic-city'}

In [125]:
# Use pandas
import pandas as pd
dic_data = {"Name" :["Raghavendar", "Siva"],
            "Age" : [32,50],
            "Company" : ["Bosch", "Siemens"],
            "Location" : ["Banglore", "Coimbatore"],
            "Base-Location" : ["Electronic-city", "GTP-Kalapatti"]}
pd.DataFrame(data = dic_data).to_csv(path_or_buf= "Pandas_data_from_code.csv") #Generate the csv file