### Why Python Built-In Data Structure?
* To collect multiple data in a structure

#### 4 Data Structures in Python
1. List
2. Sets
3. Tuples
4. Dictonary - key & value

#### 1. List

- 1 Dimension
- Hetrogenous
- Duplicate Values
- Indexing is possible
- Slicing is possible
- Mutable

In [6]:
empty_cart = []

In [7]:
empty_cart

[]

In [8]:
type(empty_cart)

list

In [10]:
items_to_buy = ["Apple", "Orange", "Grapes", "Pomogranate", "Apple", 6.75, 8, True]

In [9]:
items_to_buy.append("Carrort")
items_to_buy

['Apple',
 'Orange',
 'Grapes',
 'Pomogranate',
 'Apple',
 6.75,
 8,
 True,
 'Carrort',
 'Carrort',
 'Carrort']

In [16]:
items_to_buy[2] #Indexing starts with 0 from left to right

'Grapes'

In [18]:
items_to_buy[-1] #Indexing starts with -1 from right to left

True

In [17]:
len(items_to_buy)

8

In [22]:
items_to_buy[1:4] #Slicing

['Orange', 'Grapes', 'Pomogranate']

In [25]:
items_to_buy[-5:-2] # Reverse Slicing

['Pomogranate', 'Apple', 6.75]

In [26]:
items_to_buy[2] = "Watermelon" #Mutable

In [28]:
items_to_buy

['Apple', 'Orange', 'Watermelon', 'Pomogranate', 'Apple', 6.75, 8, True]

#### 2. Sets

- 1 Dimension
- Hetrogenous
- It won't allow duplicate values
- Indexing and Slicing is not possible
- Mutable

In [30]:
empty_set = set()

In [31]:
empty_set

set()

In [34]:
items_to_buy_2 = {"Apple", "Orange", "Grapes", "Pomogranate", "Apple", 6.75, 8, True}

In [35]:
items_to_buy_2

{6.75, 8, 'Apple', 'Grapes', 'Orange', 'Pomogranate', True}

In [40]:
items_to_buy_2.add("Bananna")
items_to_buy_2

{6.75, 8, 'Apple', 'Bananna', 'Grapes', 'Orange', 'Pomogranate', True}

In [43]:
items_to_buy_2.discard(True)
items_to_buy_2

{6.75, 8, 'Apple', 'Bananna', 'Grapes', 'Orange', 'Pomogranate'}

#### 3 Tuple

- 1 Dimension
- Hetrogenous
- Duplicate Values
- Indexing is possible
- Slicing is possible
- Immutable

In [13]:
empty_tuple = ()

In [15]:
type(empty_tuple)

tuple

In [18]:
items_to_buy_3 = (7,8, "Apple", "Orange", "Grapes", "Pomogranate", "Apple", 6.75, 8, True)
items_to_buy_3

(7, 8, 'Apple', 'Orange', 'Grapes', 'Pomogranate', 'Apple', 6.75, 8, True)

In [19]:
items_to_buy_3[3] #Indexing is possible

'Orange'

In [24]:
items_to_buy_3[2:5] #Slicing is possible

('Apple', 'Orange', 'Grapes')

In [28]:
items_to_buy_3[3] = "PineApple" #Immutable

TypeError: 'tuple' object does not support item assignment

In [34]:
items_to_buy_3.count("Apple")

TypeError: tuple.count() takes exactly one argument (3 given)

In [36]:
items_to_buy_3.index("Apple")

2

#### 3 Dictionary

Its a key:value pair

- 2 Dimension
- Hetrogenous
- Duplicate keys not allowed where as duplicate Values are allowed
- mutable
- Indexing and Slicing not possible

In [37]:
empty_cart4 = {}

In [38]:
type(empty_cart4)

dict

In [42]:
student_marks = {"Tamil":89,"English":98,"Maths":90}
student_marks

{'Tamil': 89, 'English': 98, 'Maths': 90}

In [50]:
items_to_buy4 = {"Potato" : 4, "Onion" :2, "Tomato" : 6, "Potato":6}
items_to_buy4

{'Potato': 6, 'Onion': 2, 'Tomato': 6}

In [51]:
items_to_buy4.keys()

dict_keys(['Potato', 'Onion', 'Tomato'])

In [48]:
items_to_buy4.clear()
items_to_buy4

{}

In [52]:
items_to_buy4.values()

dict_values([6, 2, 6])

In [53]:
items_to_buy4.get("Potato")

6

In [56]:
import pandas as pd

In [60]:
pd.DataFrame(data=items_to_buy4)

ValueError: If using all scalar values, you must pass an index

In [69]:
math_student_marks = {"Names"  : ["Raghav", "Jagan", "John", "Nithya"], 
                      "Math"   : [60,70,89,90],
                      "Scient" : [100,90,98,90]}
math_student_marks

{'Names': ['Raghav', 'Jagan', 'John', 'Nithya'],
 'Math': [60, 70, 89, 90],
 'Scient': [100, 90, 98, 90]}

In [70]:
pd.DataFrame(math_student_marks)

    Names  Math  Scient
0  Raghav    60     100
1   Jagan    70      90
2    John    89      98
3  Nithya    90      90