# Module 1

## 1.1 Different Techniques for Print statement

In [4]:
print("My name is Raghav")

My name is Raghav

In [5]:
print("I'm Raghav")

I'm Raghav

In [6]:
print("""
This is useful
for multi-line 
statement
""")

This is useful
for multi-line
statement

## 1.2 Create a Variable

In [9]:
items_to_buy = "Tomato", "Apple"
items_to_buy

('Tomato', 'Apple')

# Module 2

## 2.1 What is a String?
Anything which is enclosed in quotes, we call it as string.

### 3 Data Types in Python?
1. Int - number without decimal point
2. Float - number with decimal point
3. String - Anything which is enclosed within quotes
4. Boolean - Stores either true or false

In [11]:
average_grade = "9.5"

In [12]:
type(average_grade)

str

## 2.2 String Concatination -  Indexing & Slicing

In [13]:
first_name = "Raghvaendar"
last_name  = "Subramani"
age        = 37

In [17]:
print(first_name+last_name+str(age))

RaghvaendarSubramani37

In [19]:
print(first_name+' '+ last_name+'_'+str(age)) #An operation is perfromed

Raghvaendar Subramani_37

In [22]:
print(first_name,last_name,'_',str(age)) # It just prints

Raghvaendar Subramani _ 37

In [24]:
len(first_name)

11

In [25]:
#Indexing

In [28]:
first_name[0:4]

'Ragh'

## 2.2 Manupulate String with String methods

In [43]:
employee1 = 'Raghav'
employee2 = '   Nithya     '
employee3 = 'Jagan      '
employee4 = '     milank'

In [32]:
print(employee1,employee2,employee3,employee4)

Raghav    Nithya      Jagan            milank

In [34]:
employee1.isupper()

False

In [39]:
employee1.count("R")

1

In [40]:
employee1.upper()

'RAGHAV'

In [44]:
employee4.lstrip()

'milank'

In [45]:
employee2.strip()

'Nithya'

In [47]:
employee1 = employee1.upper()
employee2 = employee2.strip()
employee3 = employee3.rstrip()
employee4 = employee4.lstrip()

In [48]:
print(employee1,employee2,employee3,employee4)

RAGHAV Nithya Jagan milank

### Task 1: Come up with String Functions with Example

## 2.4 Interact with User input

In [54]:
original_password = input("Enter your Password:")
original_password

Enter your Password: Raghav

'Raghav'

In [55]:
print("HINT!!!! Your password with",original_password[0])

HINT!!!! Your password with R

### 2.5 Challenge - Get 2 inputs from the user and display it in one print function

In [57]:
name = input("Enter your name")
company =input("Enter your company name")
experience_in_years = input("Enter your Experience")
print("Hello Everyone. I am",name," Working in",company,"for",experience_in_years, "years")

Enter your name Raghav
Enter your company name Bosch
Enter your Experience 10

Hello Everyone. I am Raghav . Working in Bosch for 10 years

### 2.6 Streamlining the print statement

In [62]:
#PlaceHolder
#PrintFormating
print("Hello Everyone. I am {}. Working in {} for {} years".format(name,company,experience_in_years)) # follows the same order as per format argrment
print("Hello Everyone. I am {1}. Working in {2} for {0} years".format(name,company,experience_in_years)) #giving index.

Hello Everyone. I am Raghav. Working in Bosch for 10 years
Hello Everyone. I am Bosch. Working in 10 for Raghav years

# Module 3 Numbers in Python

In [65]:
student_Gpa = float(input("Enter the GPA"))

Enter the GPA 9

In [69]:
#Even if we give the negative number it always stores in positive number
student_Gpa = abs(float(input("Enter the GPA")))
student_Gpa

Enter the GPA 10

10.0

# Module 4 - Functions and loops

## 4.1 Write your own Functions

### 3 types of Functions:
1. Predefined/Builtin Function:  which will get automatically installed into your local machine when we install anaconda navigator.
2. Userdefined Function:  user given function, according to his own preference -  it is customizable function
3. Anonymous Function: it is a nameless function, which is used to accomplish one operation at once

In [70]:
#Step 1 : Define your function
#Step 2 : Call your function

In [71]:
def welcome_message():
    print("Welcome to this Course")

In [77]:
welcome_message()

Welcome to this Course

### Parameters and Arguments

In [74]:
def addition(first_num,second_num,third_num): #Parameters - are the variables present while defining a function
    return first_num+second_num+third_num

In [78]:
addition(80,90,100) #Passing Argument function - only during the call of the particular function

270

### Positional Arguments

In [80]:
def get_details(name,place,expected_price):
    print("Client Name:",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [81]:
get_details("Raghav","Salem",97.4) #calling in actual function order

Client Name: Raghav
Place: Salem
Expected Price: 97.4

In [84]:
get_details(place= "Salem",expected_price=97.4, name="Raghav") #calling in actual function order

Client Name: Raghav
Place: Salem
Expected Price: 97.4

### Default Parameters and Arguments
 * Default parameter should always placed at the last

In [88]:
def get_details(name,expected_price,place="Chennai"):
    print("Client Name:",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [90]:
get_details(expected_price=97.4, name="Raghav") #calling the function uses default place parameter value

Client Name: Raghav
Place: Chennai
Expected Price: 97.4

In [91]:
get_details(expected_price=97.4, name="Raghav", place="Salem") #calling the function with dynamic place parameter

Client Name: Raghav
Place: Salem
Expected Price: 97.4

### Variable length argument
1. parameter with * can hold many arguments as Tuples
2. Positional argument calling is not allowed

In [99]:
def get_details(name,place, *expected_price):
    print("Client Name:",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [100]:
get_details("Raghav","Chennai",98.7,90,81)

Client Name: Raghav
Place: Chennai
Expected Price: (98.7, 90, 81)

### Keyword argument
1. parameter with ** can hold many arguments as key value pair like dictionary
2. Positional argument calling is allowed

In [102]:
def get_details(name,place="Salem", **expected_price):
    print("Client Name:",name)
    print("Place:",place)
    print("Expected Price:",expected_price)

In [104]:
get_details("Raghav",place="Chennai",key1=98.7,key2=90,key3=81)

Client Name: Raghav
Place: Chennai
Expected Price: {'key1': 98.7, 'key2': 90, 'key3': 81}

## 4.2 Run in Circles (LOOP)

In [109]:
for i in range(0,7,3):
    print(i)

0
3
6

## 4.3 Challenge to build a user-defined function with for loop

In [120]:
def line_by_line_output(name):
    for i in name:
        print(i)

In [121]:
line_by_line_output("Raghav")

R
a
g
h
a
v

# Module 5 : Conditional Login

## 5.1 Compare Values

In [122]:
7 == 7

True

In [123]:
7 != 6

True

In [124]:
5/2

2.5

In [125]:
5%2

1

## 5.2 Add some logic

In [127]:
english_mark = 80
maths_mark = 99
tamil_mark = 92

In [130]:
english_mark < maths_mark

True

In [131]:
tamil_mark < maths_mark

True

In [132]:
tamil_mark < maths_mark and english_mark < maths_mark

True

In [133]:
feedback = "Python is very good course"

In [134]:
"good" in feedback

True

## 5.3 Control the flow of diagram

In [137]:
user_password = input("New Password")
if(len(user_password)<5):
    print("Week password")
else:
    print("Strong password")

New Password sdfewf

Strong password

In [139]:
user_password = input("New Password")
if len(user_password)<5:
    print("Week password")
elif 5<=len(user_password)<=10:
    print("Moderate password")
else:
    print("Strong password")

New Password dfdsfdsfdsfdsf

Strong password

## 5.4 Challenge to find the factors of the number

If the user enters 20, output should be "The factors of 20 is 1,2,4,5,10,20

In [164]:
factor_number = int(input("Enter the number to find the factor of the number"))
result = []
for i in range(1,factor_number+1):
    if factor_number%i == 0:
        #print(i,end = ' ')
        result.append(i)
print("The factors of {} is {}".format(factor_number,result))

Enter the number to find the factor of the number 20

The factors of 20 is [1, 2, 4, 5, 10, 20]

## 5.5 Break Out of the pattern

In [176]:
i=1
while i<20:
    if(i==10):
        break
    print(i) 
    i+=1

1
2
3
4
5
6
7
8
9