# Portfolio Assignment

pip install pandas

In [3]:
import pandas as pd

### RAW data before cleaning

In [4]:
pd.read_excel("portfolio1.xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,View Zerodha's guide on using tax reports for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Client ID,UHG161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Equity Holdings Statement as on 2026-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Invested Value,742945.6379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Present Value,737629.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Unrealized P&L,-5316.5479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Unrealized P&L Pct.,-0.7156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Symbol,ISIN,Sector,Quantity Available,Quantity Discrepant,Quantity Long Term,Quantity Pledged (Margin),Quantity Pledged (Loan),Average Price,Previous Closing Price,Unrealized P&L,Unrealized P&L Pct.,NaN
22,NaN,DRREDDY,INE089A01031,HEALTHCARE,20,0,5,0,0,1185.5925,1167.2,-367.85,-1.5513,23711.8500
23,NaN,GOLDBEES-E,INF204KB17I5,ETF,994,0,0,0,0,110.4624,121.11,10583.76,9.6392,109799.6256
24,NaN,IDFCFIRSTB,INE092T01019,FINANCIAL SERVICES,1180,0,1150,0,0,82.1558,83.12,1137.75,1.1736,96943.8440
25,NaN,INDUSINDBK,INE095A01012,FINANCIAL SERVICES,20,0,0,0,0,753.8,949.8,3920,26.0016,15076.0000
26,NaN,INFY,INE009A01021,SOFTWARE SERVICES,15,0,9,0,0,1624.0867,1681.2,856.7,3.5166,24361.3005
27,NaN,ITC,INE154A01025,FMCG,234,0,135,0,0,386.5626,333.2,-12486.8479,-13.8044,90455.6484
28,NaN,KTKBANK,INE614B01018,FINANCIAL SERVICES,193,0,68,0,0,195.8173,189.1,-1296.44,-3.4304,37792.7389
29,NaN,MANAPPURAM,INE522D01027,FINANCIAL SERVICES,80,0,68,0,0,191.5351,314.45,9833.19,64.1735,15322.8080
30,NaN,MUTHOOTMF,INE046W01019,NBFC,120,0,105,0,0,222.0495,181.07,-4917.54,-18.4551,26645.9400
31,NaN,NATCOPHARM,INE987B01026,HEALTHCARE,42,0,27,0,0,1044.1,845.75,-8330.7,-18.9972,43852.2000
32,NaN,ONGC,INE213A01029,ENERGY,60,0,0,0,0,235.8537,243.11,435.38,3.0766,14151.2220
33,NaN,RECLTD,INE020B01018,FINANCIAL SERVICES,170,0,100,0,0,450.8047,370.1,-13719.8,-17.9024,76636.7990
34,NaN,SOUTHBANK,INE683A01023,FINANCIAL SERVICES,460,0,230,0,0,28.562,45.1,7607.5,57.9023,13138.5200
35,NaN,TATASTEEL,INE081A01020,METALS,225,0,225,0,0,157.5441,188.27,6913.33,19.5031,35447.4225
36,NaN,TMCV,INE1TAE01010,AUTO ANCILLARY,67,0,41,0,0,275.0324,441.4,11146.6293,60.4902,18427.1708
37,NaN,TMPV,INE155A01022,AUTO ANCILLARY,70,0,41,0,0,554.6326,344,-14744.2792,-37.977,38824.2820
38,NaN,WIPRO,INE075A01022,SOFTWARE SERVICES,210,0,160,0,0,255.2968,246,-1952.33,-3.6416,53612.3280
39,NaN,ZYDUSLIFE,INE010B01027,HEALTHCARE,10,0,0,0,0,874.6,881.1,65,0.7432,8746.0000
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,742945.6997

## Data Cleaning
* Removing the unwanted rows and first columns initially
* Set the Header row
* Remove unwanted column

In [5]:
portfolio_data = pd.read_excel("portfolio1.xlsx",header=22) # headers start at row 23
portfolio_data = portfolio_data.drop(portfolio_data.columns[0], axis=1)  # drop first column
portfolio_data.drop(columns=["Quantity Pledged (Margin)","Quantity Pledged (Loan)", "Quantity Discrepant","Unrealized P&L Pct."], inplace = True) #Drop unwanted columns
portfolio_data = pd.DataFrame(portfolio_data)
portfolio_data

,Symbol,ISIN,Sector,Quantity Available,Quantity Long Term,Average Price,Previous Closing Price,Unrealized P&L,Unnamed: 13
0,DRREDDY,INE089A01031,HEALTHCARE,20.0,5.0,1185.5925,1167.20,-367.8500,23711.8500
1,GOLDBEES-E,INF204KB17I5,ETF,994.0,0.0,110.4624,121.11,10583.7600,109799.6256
2,IDFCFIRSTB,INE092T01019,FINANCIAL SERVICES,1180.0,1150.0,82.1558,83.12,1137.7500,96943.8440
3,INDUSINDBK,INE095A01012,FINANCIAL SERVICES,20.0,0.0,753.8000,949.80,3920.0000,15076.0000
4,INFY,INE009A01021,SOFTWARE SERVICES,15.0,9.0,1624.0867,1681.20,856.7000,24361.3005
5,ITC,INE154A01025,FMCG,234.0,135.0,386.5626,333.20,-12486.8479,90455.6484
6,KTKBANK,INE614B01018,FINANCIAL SERVICES,193.0,68.0,195.8173,189.10,-1296.4400,37792.7389
7,MANAPPURAM,INE522D01027,FINANCIAL SERVICES,80.0,68.0,191.5351,314.45,9833.1900,15322.8080
8,MUTHOOTMF,INE046W01019,NBFC,120.0,105.0,222.0495,181.07,-4917.5400,26645.9400
9,NATCOPHARM,INE987B01026,HEALTHCARE,42.0,27.0,1044.1000,845.75,-8330.7000,43852.2000
10,ONGC,INE213A01029,ENERGY,60.0,0.0,235.8537,243.11,435.3800,14151.2220
11,RECLTD,INE020B01018,FINANCIAL SERVICES,170.0,100.0,450.8047,370.10,-13719.8000,76636.7990
12,SOUTHBANK,INE683A01023,FINANCIAL SERVICES,460.0,230.0,28.5620,45.10,7607.5000,13138.5200
13,TATASTEEL,INE081A01020,METALS,225.0,225.0,157.5441,188.27,6913.3300,35447.4225
14,TMCV,INE1TAE01010,AUTO ANCILLARY,67.0,41.0,275.0324,441.40,11146.6293,18427.1708
15,TMPV,INE155A01022,AUTO ANCILLARY,70.0,41.0,554.6326,344.00,-14744.2792,38824.2820
16,WIPRO,INE075A01022,SOFTWARE SERVICES,210.0,160.0,255.2968,246.00,-1952.3300,53612.3280
17,ZYDUSLIFE,INE010B01027,HEALTHCARE,10.0,0.0,874.6000,881.10,65.0000,8746.0000
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,742945.6997

In [6]:
portfolio_data.shape

(19, 9)

### Add 2 columns one for 'Invested' and another for 'Current Value'

In [7]:
portfolio_data["Invested"] = portfolio_data["Quantity Available"] * portfolio_data["Average Price"]
portfolio_data["Current Value"] = portfolio_data["Quantity Available"] * portfolio_data["Previous Closing Price"]
portfolio_data

,Symbol,ISIN,Sector,Quantity Available,Quantity Long Term,Average Price,Previous Closing Price,Unrealized P&L,Unnamed: 13,Invested,Current Value
0,DRREDDY,INE089A01031,HEALTHCARE,20.0,5.0,1185.5925,1167.20,-367.8500,23711.8500,23711.8500,23344.00
1,GOLDBEES-E,INF204KB17I5,ETF,994.0,0.0,110.4624,121.11,10583.7600,109799.6256,109799.6256,120383.34
2,IDFCFIRSTB,INE092T01019,FINANCIAL SERVICES,1180.0,1150.0,82.1558,83.12,1137.7500,96943.8440,96943.8440,98081.60
3,INDUSINDBK,INE095A01012,FINANCIAL SERVICES,20.0,0.0,753.8000,949.80,3920.0000,15076.0000,15076.0000,18996.00
4,INFY,INE009A01021,SOFTWARE SERVICES,15.0,9.0,1624.0867,1681.20,856.7000,24361.3005,24361.3005,25218.00
5,ITC,INE154A01025,FMCG,234.0,135.0,386.5626,333.20,-12486.8479,90455.6484,90455.6484,77968.80
6,KTKBANK,INE614B01018,FINANCIAL SERVICES,193.0,68.0,195.8173,189.10,-1296.4400,37792.7389,37792.7389,36496.30
7,MANAPPURAM,INE522D01027,FINANCIAL SERVICES,80.0,68.0,191.5351,314.45,9833.1900,15322.8080,15322.8080,25156.00
8,MUTHOOTMF,INE046W01019,NBFC,120.0,105.0,222.0495,181.07,-4917.5400,26645.9400,26645.9400,21728.40
9,NATCOPHARM,INE987B01026,HEALTHCARE,42.0,27.0,1044.1000,845.75,-8330.7000,43852.2000,43852.2000,35521.50
10,ONGC,INE213A01029,ENERGY,60.0,0.0,235.8537,243.11,435.3800,14151.2220,14151.2220,14586.60
11,RECLTD,INE020B01018,FINANCIAL SERVICES,170.0,100.0,450.8047,370.10,-13719.8000,76636.7990,76636.7990,62917.00
12,SOUTHBANK,INE683A01023,FINANCIAL SERVICES,460.0,230.0,28.5620,45.10,7607.5000,13138.5200,13138.5200,20746.00
13,TATASTEEL,INE081A01020,METALS,225.0,225.0,157.5441,188.27,6913.3300,35447.4225,35447.4225,42360.75
14,TMCV,INE1TAE01010,AUTO ANCILLARY,67.0,41.0,275.0324,441.40,11146.6293,18427.1708,18427.1708,29573.80
15,TMPV,INE155A01022,AUTO ANCILLARY,70.0,41.0,554.6326,344.00,-14744.2792,38824.2820,38824.2820,24080.00
16,WIPRO,INE075A01022,SOFTWARE SERVICES,210.0,160.0,255.2968,246.00,-1952.3300,53612.3280,53612.3280,51660.00
17,ZYDUSLIFE,INE010B01027,HEALTHCARE,10.0,0.0,874.6000,881.10,65.0000,8746.0000,8746.0000,8811.00
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,742945.6997,NaN,NaN

### Based on Sector how much money invested
Using GroupBy

In [8]:
portfolio_data.groupby(by ="Sector")["Invested"].sum()

Sector
AUTO ANCILLARY         57251.4528
ENERGY                 14151.2220
ETF                   109799.6256
FINANCIAL SERVICES    254910.7099
FMCG                   90455.6484
HEALTHCARE             76310.0500
METALS                 35447.4225
NBFC                   26645.9400
SOFTWARE SERVICES      77973.6285
Name: Invested, dtype: float64

### Based on Sector and Stocks how much money invested
Using GroupBY

In [9]:
portfolio_data.groupby(by =["Sector","Symbol"])["Invested"].sum()

Sector              Symbol
AUTO ANCILLARY      TMCV           18427.1708
                    TMPV           38824.2820
ENERGY              ONGC           14151.2220
ETF                 GOLDBEES-E    109799.6256
FINANCIAL SERVICES  IDFCFIRSTB     96943.8440
                    INDUSINDBK     15076.0000
                    KTKBANK        37792.7389
                    MANAPPURAM     15322.8080
                    RECLTD         76636.7990
                    SOUTHBANK      13138.5200
FMCG                ITC            90455.6484
HEALTHCARE          DRREDDY        23711.8500
                    NATCOPHARM     43852.2000
                    ZYDUSLIFE       8746.0000
METALS              TATASTEEL      35447.4225
NBFC                MUTHOOTMF      26645.9400
SOFTWARE SERVICES   INFY           24361.3005
                    WIPRO          53612.3280
Name: Invested, dtype: float64

### Based on Sector and how much percentage invested
Using GroupBY

In [12]:
sector_sum = portfolio_data.groupby(by =["Sector", "Symbol"])["Invested"].sum()
sector_percentage = sector_sum/sector_sum.sum() * 100
sector_percentage = sector_percentage.round(2).astype("str") + '%'
pd.DataFrame({'Invested':sector_sum,
              'Percentage': sector_percentage})

                                  Invested Percentage
Sector             Symbol
AUTO ANCILLARY     TMCV         18427.1708      2.48%
                   TMPV         38824.2820      5.23%
ENERGY             ONGC         14151.2220       1.9%
ETF                GOLDBEES-E  109799.6256     14.78%
FINANCIAL SERVICES IDFCFIRSTB   96943.8440     13.05%
                   INDUSINDBK   15076.0000      2.03%
                   KTKBANK      37792.7389      5.09%
                   MANAPPURAM   15322.8080      2.06%
                   RECLTD       76636.7990     10.32%
                   SOUTHBANK    13138.5200      1.77%
FMCG               ITC          90455.6484     12.18%
HEALTHCARE         DRREDDY      23711.8500      3.19%
                   NATCOPHARM   43852.2000       5.9%
                   ZYDUSLIFE     8746.0000      1.18%
METALS             TATASTEEL    35447.4225      4.77%
NBFC               MUTHOOTMF    26645.9400      3.59%
SOFTWARE SERVICES  INFY         24361.3005      3.28%
                   WIPRO        53612.3280      7.22%

In [13]:
# Create DataFrame for sector summary + percentage 
sector_summary = pd.DataFrame({ 'Invested': sector_sum, 'Percentage': sector_percentage })
# Write everything into one Excel file with multiple sheets
with pd.ExcelWriter("portfolio_output.xlsx", engine="openpyxl") as writer: 
    portfolio_data.to_excel(writer, sheet_name="PortfolioData", index=False) 
    portfolio_data.groupby("Sector")["Invested"].sum().to_excel(writer, sheet_name="SectorTotal")
    portfolio_data.groupby(["Sector", "Symbol"])["Invested"].sum().to_excel(writer, sheet_name="SectorSymbolTotal") 
    sector_summary.to_excel(writer, sheet_name="SectorPercentage") 
print("All data written successfully to portfolio_output.xlsx")

All data written successfully to portfolio_output.xlsx

## Do the Same above scenarios by using PivotTable

### Based on Sector how much money invested
Using PivotTable

In [53]:
pd.pivot_table(data=portfolio_data,index='Sector',values="Invested",margins=True)

                         Invested
Sector
AUTO ANCILLARY       28625.726400
ENERGY               14151.222000
ETF                 109799.625600
FINANCIAL SERVICES   42485.118317
FMCG                 90455.648400
HEALTHCARE           25436.683333
METALS               35447.422500
NBFC                 26645.940000
SOFTWARE SERVICES    38986.814250
All                  41274.761094

### Based on Sector and Stocks how much money invested

Using PivotTable

In [40]:
pd.pivot_table(data=portfolio_data, values="Invested", index=["Sector", "Symbol"],margins='all')

                                    Invested
Sector             Symbol
AUTO ANCILLARY     TMCV         18427.170800
                   TMPV         38824.282000
ENERGY             ONGC         14151.222000
ETF                GOLDBEES-E  109799.625600
FINANCIAL SERVICES IDFCFIRSTB   96943.844000
                   INDUSINDBK   15076.000000
                   KTKBANK      37792.738900
                   MANAPPURAM   15322.808000
                   RECLTD       76636.799000
                   SOUTHBANK    13138.520000
FMCG               ITC          90455.648400
HEALTHCARE         DRREDDY      23711.850000
                   NATCOPHARM   43852.200000
                   ZYDUSLIFE     8746.000000
METALS             TATASTEEL    35447.422500
NBFC               MUTHOOTMF    26645.940000
SOFTWARE SERVICES  INFY         24361.300500
                   WIPRO        53612.328000
All                             41274.761094

### Based on Sector and how much percentage invested
Using PivotTable

In [67]:
pivot_Invested = pd.pivot_table(data=portfolio_data, values="Invested",index=["Sector","Symbol"], aggfunc='sum')
pivot_Invested["percentage"] = pivot_Invested["Invested"] /pivot_Invested["Invested"].sum() * 100
pivot_Invested

                                  Invested  percentage
Sector             Symbol
AUTO ANCILLARY     TMCV         18427.1708    2.480285
                   TMPV         38824.2820    5.225723
ENERGY             ONGC         14151.2220    1.904745
ETF                GOLDBEES-E  109799.6256   14.778957
FINANCIAL SERVICES IDFCFIRSTB   96943.8440   13.048577
                   INDUSINDBK   15076.0000    2.029220
                   KTKBANK      37792.7389    5.086878
                   MANAPPURAM   15322.8080    2.062440
                   RECLTD       76636.7990   10.315262
                   SOUTHBANK    13138.5200    1.768436
FMCG               ITC          90455.6484   12.175270
HEALTHCARE         DRREDDY      23711.8500    3.191599
                   NATCOPHARM   43852.2000    5.902477
                   ZYDUSLIFE     8746.0000    1.177206
METALS             TATASTEEL    35447.4225    4.771200
NBFC               MUTHOOTMF    26645.9400    3.586526
SOFTWARE SERVICES  INFY         24361.3005    3.279015
                   WIPRO        53612.3280    7.216184